/*body {
    background-image: url('Background\ pic.jpg');
    background-size: cover; /* Adjust the image to cover the entire background */
    /*background-position: center;*/ /* Center the background image */
    /*background-repeat: no-repeat; /* Prevent the background image from repeating */
    /*margin: 0;
    font-family: Arial, sans-serif;
    color: white; /* Text color for better visibility on the background image */
/*}*/